:root {
  --trybe-green: #2fc18c;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: silver;
}

a:visited {
  color: silver;
}

a:hover {
  font-weight: bolder;
}

/* Main */

.main-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

/* Apresentação */

#presentation {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.frase-presentation {
  font-size: 3em;
}

.frase-presentation strong {
  font-size: 1.8em;
}

#trybe-link {
  color: var(--trybe-green);
}

#trybe-link:hover {
  font-weight: bolder;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 24px;
  }
}

.sections-non-presentation {
  min-height: 60vh;
  padding: 20px 10%;
}

#ferramentas-e-linguagens,
#forma-de-contato {
  background-color: lightgray;
  color: black;
}

.skills-image {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin: 20px auto;
}

.carousel-indicators {
  margin-bottom: -1.5rem;
}

#projects-card-container {
  width: 100%;
  display: flex;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20rem;
  width: 40%;
  font-size: 0.8rem;
  color: black;
  background-color: lightcoral;
  margin: 10px;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  border-radius: 40px;
  padding: 10px;
}

.project-image {
  height: 90px;
  width: 90px;
}

.project-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
